<footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyright">
                    <p style="text-align: center;">copyright © - <%= email %>
                    </p>

                    <ul id="menu-menu-principal" class="nav navbar-nav ">
                        <li class="active">
                            <a title="Home" href="mapa-site">Mapa Site</a>
                        </li>
                        <li class="active">
                            <a title="A Academia" href="instituto">O Instituto</a>
                        </li>
                        <li class="active">
                            <a title="Porque ser Maçom" href="porque-ser-macom">Porque ser Maçom</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
</div><!-- /main -->
</body><!-- /body -->

<!-- JAVASCRIPT -->
<link rel='stylesheet' id='js_composer_liquida-css' href='wp-content/uploads/liquida/css/js_composer.css'
      type='text/css' media='all'/>

<script type='text/javascript' src='wp-content/themes/liquida/assets/js/bootstrap.min.js'></script>
<script type='text/javascript' src='wp-content/themes/liquida/assets/js/liquida.js'></script>
<script type='text/javascript' src='wp-content/themes/liquida/assets/js/modernizr.js'></script>
<script type='text/javascript' src='wp-content/themes/liquida/assets/lib/waypoints/waypoints.min.js'></script>
<script type='text/javascript' src='wp-content/plugins/js_composer/assets/js/js_composer_front.js'>
</script>
</html>
