<body>
<div class="main">
    <header>
        <div>
            <div class="navbar navbar-static-top" role="navigation">
                <div class="header-bottom transparent">
                    <div class="container">
                        <div class="navbar-header">
                            <p class="juncao">
                                <a class="navbar-brand" href="/">
                                    <img src="wp-content/uploads/2015/07/logo.png"
                                         alt="Ambra - Academia Maçônica Brasileira"
                                         title="IIIM | Instituto de iniciação e inclução maçônica"></a>
                            </p>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div class="menu">
                                <ul id="menu-menu-principal" class="nav navbar-nav ">
                                    <li id="menu-item-21">
                                        <a title="Home" href="/">Home</a>
                                    </li>
                                    <li id="menu-item-20">
                                        <a title="A Academia" href="instituto">O Instituto</a>
                                    </li>
                                    <li id="menu-item-22">
                                        <a title="Porque ser Maçom" href="porque-ser-macom">Porque ser Maçom</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>

    <div class="vc_responsive">
        <div class="row vc_row-fluid  ">
            <div class="container nop">
                <div class="col-sm-12 wpb_column">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <div class="titulo">
                                    <div class="linha"></div>
                                    <h1><%= title %></h1>
                                    <div class="linha"></div>
                                </div>

                            </div>
                        </div>
