<% include includes/head.ejs %>
    <% include includes/header.ejs %>

        <!-- body html pure -->

        <div class="vc_responsive">
            <div class="row vc_row-fluid  ">
                <div class="container nop">
                    <div class="col-sm-12 wpb_column column_container   " style="width: 1/1px;">
                        <div class="wpb_wrapper">
                            <div class="row vc_row-fluid  ">
                                <div class="container nop">
                                    <div class="col-sm-6 wpb_column column_container   " style="width: 1/2px;">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>De caráter essencialmente filosófico, filantrópico e progressista, a
                                                        Ordem mais antiga do mundo a “MAÇONARIA”, ao longo dos séculos, propaga
                                                        e incentiva a busca da felicidade por meio da elevação espiritual,
                                                        pela paz e pela tranquilidade da consciência.</p>
                                                    <p>É filosófica porque em seus atos e cerimônias tratam da essência, propriedades
                                                        e efeitos das causas naturais. Investiga as leis da natureza e relaciona
                                                        as primeiras bases da moral e da ética pura.
                                                    </p>
                                                    <p>É filantrópica porque não está constituída para obter lucro pessoal de
                                                        nenhuma classe; pelo contrário, suas arrecadações e seus recursos
                                                        se destinam ao bem-estar do gênero humano, sem distinção de nacionalidade,
                                                        sexo, religião ou raça.</p>
                                                    <p>É progressista porque, partindo do princípio da imortalidade e da crença
                                                        em um Princípio Criador Regular e Infinito, não se detém a dogmas,
                                                        convenções ou superstições. Não impõe obstáculo algum ao esforço
                                                        dos seres humanos na busca da verdade, nem reconhece outro limite
                                                        nessa busca senão o da razão com base na ciência.</p>
                                                    <p>É Religiosa porque aceita em seu quadro de obreiros homens de todos os
                                                        credos e/ou religiões.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 wpb_column column_container   " style="width: 1/2px;">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h4>Maçonaria e Religião</h4>
                                                    <p>Maçonaria não é uma religião, nem tampouco sua substituta, todavia o
                                                        princípio básico para que algum candidato possa ingressar à Ordem
                                                        é que ao menos creia em um Ser Supremo. A Maçonaria também não fornece
                                                        nenhum sistema de fé própria.</p>
                                                    <h4>O Ser Supremo</h4>
                                                    <p>Os nomes usados ​​para o Ser Supremo permitem aos homens de diferentes
                                                        credos juntarem-se em preces e orações (a Deus como cada um vê-lo),
                                                        sem os termos da oração causando dissensão entre eles.
                                                    </p>
                                                    <h4>Volume da Lei Sagrada</h4>
                                                    <p>A Bíblia, referida por Maçons como o Volume da Lei Sagrada, está sempre
                                                        aberta em todas as reuniões Maçônicas.</p>
                                                    <h4>Maçonaria apoia Religião</h4>
                                                    <p>A Maçonaria está longe de ser indiferente à religião. Sem interferir
                                                        na prática religiosa que espera que cada membro possa seguir sua
                                                        própria fé, e colocar acima de todos os outros direitos seus deveres
                                                        para com Deus (por qualquer nome, ele é conhecido, Jeová, Javé etc.).
                                                        Seus ensinamentos morais são aceitáveis ​​para todas as religiões.
                                                        Concluímos que a Maçonaria é, portanto, um defensor da religião.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <div class="divisor">
                                        <div class="d1"></div>
                                        <div class="d2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="titulo">
                                        <div class="linha"></div>
                                        <h3>Pré-Requisitos<br/> para Admissão</h3>
                                        <div class="linha"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>A admissão à Maçonaria está acessível a todos os homens livres, sem limitações quanto
                                        à raça e nacionalidade, desde que gozem de reputação ilibada e que sejam homens íntegros.
                                    </p>
                                    <p>As informações sobre como fazer parte da Maçonaria serão fornecidas ao candidato, em
                                        entrevistas e em reuniões com um Mestre Maçom.</p>
                                    <p>Sua solicitação será acolhida favoravelmente por uma Loja Maçônica, tendo como base as
                                        conclusões sobre sua vida pregressa, sua conduta no lar e no mundo dos negócios,
                                        bem como o seu desempenho nas entrevistas com um Mestre Maçom.</p>
                                    <p>Nenhum candidato, por melhor que seja, poderá ser recebido na Maçonaria, sem o consentimento
                                        de todos os Maçons. Se alguém fosse imposto à Maçonaria, poderia causar desarmonia
                                        ou perturbar a liberdade dos demais Irmãos, o que sempre será evitado.
                                    </p>
                                    <p>É verdade que existem pré-requisitos para o candidato ser admitido, e são embasados nas
                                        normas de conduta deste perante a sociedade.</p>
                                    <p>A aceitação do pedido de filiação está particularmente ligada na própria declaração de
                                        motivos do candidato. A Ordem almeja que o candidato seja sincero perante sua própria
                                        consciência, inicialmente, por ocasião do preenchimento do pedido de filiação.
                                    </p>
                                    <p>Se o interessado não for sincero desde o seu pedido de filiação, certamente estará enganando
                                        a si próprio e, provavelmente, não persistirá no caminho da perfeição e não obterá
                                        resultados reais em conhecimento e desenvolvimento.</p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element  vc_custom_1436186443901">
                                <div class="wpb_wrapper">
                                    <div role="form" class="wpcf7" id="wpcf7-f4-p16-o1" lang="pt-BR" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <!-- INICIO FORMULARIO -->
                                        <% for(var i = 0; i < 1; i++) { %>
                                            <% include includes/form.ejs %>
                                                <% } %>
                                                    <!-- FIM FORMULARIO -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- end body html pure -->

        <% include includes/footer.ejs %>