<% include includes/head.ejs %>        
<% include includes/header.ejs %>        
        
    <!-- body html pure -->

<div class="btn btn-primary">Click Here</div>

<ul class="li"></ul>
<ul class="li"></ul>
<ul class="li"></ul>
<ul class="li"></ul>
            
    <!-- end body html pure -->

<% include includes/footer.ejs %>        