<% include includes/head.ejs %>
<% include includes/header.ejs %>

<!-- body html pure -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="vc_responsive">
                <div class="row vc_row-fluid  ">
                    <div class="container nop">
                        <div class="col-sm-12 wpb_column column_container   " style="width: 1/1px;">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><strong>O Instituto de Iniciação e Inclusão Maçônica – IIIM &#8211; </strong> &#8211; é uma Instituição muito conceituada na Maçonaria Brasileira, prestando serviço de orientação e suporte às Lojas Maçônicas espalhadas pelo país, bem como auxilia no esclarecimento de dúvidas de candidatos.</p>
                                        <p>Auxiliando as Lojas na avaliação de candidatos potenciais, o <strong>IIIM</strong> atua no crescimento quantitativo e qualitativo da Ordem Maçônica, enriquecendo suas colunas com Irmãos úteis e dedicados, dispostos a praticar o bem e o aprimoramento de nossa sociedade.</p>
                                        <p>Atuamos em todas as regiões brasileiras, principalmente na Grande São Paulo, ABC, Interior e Baixada Santista, avaliando cuidadosamente cada candidato interessado em ingressar à Ordem.</p>
                                        <p>Se a sua Loja ainda não está cadastrada para contar com os nossos serviços, entre em contato, e veja o que o <strong>IIIM</strong> pode oferecer para o seu desenvolvimento.</p>

                                    </div>
                                </div>
                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                    <div class="wpb_wrapper">
                                        <div class="divisor"><div class="d1"></div><div class="d2"></div></div>
                                    </div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="titulo">
                                            <div class="linha"></div>
                                            <h3>Solicite sua Afiliação</h3>
                                            <div class="linha"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>A Ordem Maçônica é composta por homens adultos de reputação ilibada e integridade moral, os quais acreditam na existência de um Ser Superior. Não existem quaisquer restrições quanto ao grupo étnico ou social.</p>
                                        <p>Este pedido de filiação é uma manifestação de vontade do candidato em se unir à Ordem, mas sua aceitação só será possível após entrevistas com um Mestre Maçom, bem como com o consentimento de toda a Irmandade, que votará à sua admissão levando em consideração a conduta e os bons costumes perante a sociedade.</p>
                                        <p>A sinceridade no preenchimento é muito importante, e a Ordem espera que o candidato seja honesto perante si mesmo.</p>

                                    </div>
                                </div>
                                <div role="form" class="wpcf7" id="wpcf7-f4-p16-o1" lang="pt-BR" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <!-- INICIO FORMULARIO -->
                                    <% for(var i = 0; i < 1; i++) { %>
                                    <% include includes/form.ejs %>
                                    <% } %>
                                    <!-- FIM FORMULARIO -->
                                </div>
                            </div>
                        </div>
                    </div></div>
            </div>
        </div>
    </div>
</div>

<!-- end body html pure -->

<% include includes/footer.ejs %>