<% include includes/head.ejs %>
    <% include includes/header.ejs %>

        <!-- body html pure -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 col-sm-offset-3">
                        <ul class="list-group">
                            <li href="" class="list-group-item"><a href="">Home</a></li>
                            <li href="instituto" class="list-group-item"><a href="instituto">Intituto</a></li>
                            <li href="porque-ser-macom" class="list-group-item"><a href="porque-ser-macom">Porque ser Maçom</a></li>
                            <li href="mapa-site" class="list-group-item"><a href="mapa-site">Mapa do Site</a></li>
                        </ul>
                        <ul class="list-group">
                            <li href="keywords/como-entrar-maconaria" class="list-group-item"><a href="como-entrar-maconaria">Como entrar na Maçonaria</a></li>
                            <li href="keywords/como-ser-macom" class="list-group-item"><a href="como-ser-macom">Como ser Maçom</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- end body html pure -->

        <% include includes/footer.ejs %>