<% include includes/head.ejs %>
<% include includes/header.ejs %>

<!-- body html pure -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="list-group">
                    <li href="" class="list-group-item active"><a></a>Home</li>
                    <li href="instituto" class="list-group-item">Instituto</li>
                    <li href="porque-ser-macom" class="list-group-item">Por que ser Maçom ?</li>
                    <li href="mapa-site" class="list-group-item">Mapa do Site</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- end body html pure -->

<% include includes/footer.ejs %>