<% include includes/head.ejs %>
    <% include includes/header.ejs %>

        <!-- body html pure -->

        <div class="vc_responsive">
            <div class="row vc_row-fluid  ">
                <div class="container nop">
                    <div class="col-sm-12 wpb_column column_container   " style="width: 1/1px;">
                        <div class="wpb_wrapper">

                            <div class="wpb_text_column wpb_content_element  vc_custom_1436197140682">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center; font-size: 18px;">20 motivos para você ser um irmão</p>

                                </div>
                            </div>
                            <div class="row vc_row-fluid  ">
                                <div class="container nop">
                                    <div class="col-sm-6 wpb_column column_container   " style="width: 1/2px;">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><span class="motivo">1- Escola Evolutiva:</span> A Maçonaria é uma Escola
                                                        de Líderes, e o seu foco principal é tornar feliz a humanidade através
                                                        do aperfeiçoamento humano. Por meio de uma estrutura filosófica de
                                                        ensino faz do maçom uma pessoa melhor, dedicada à sua família e ao
                                                        seu trabalho, mas sempre preocupado e adstrito ao desenvolvimento
                                                        da sociedade onde convive.</p>
                                                    <p><span class="motivo">2- Fraternidade:</span> Em um mundo cada vez mais
                                                        complexo, a Maçonaria satisfaz a uma das mais básicas necessidades
                                                        dos seres humanos: a de fraternidade. Esta é uma das principais razões
                                                        da existência da Maçonaria desde as antigas civilizações.</p>
                                                    <p><span class="motivo">3- Rede de Contatos:</span> Este foi um dos principais
                                                        motivadores no surgimento da Maçonaria. Toda pessoa precisa de relacionamentos
                                                        profissionais. A Maçonaria representa um corte transversal das profissões
                                                        de uma comunidade, pois a maçonaria está presente em todos os ramos
                                                        comerciais e profissionais e os maçons ajudam-se mutuamente uns aos
                                                        outros como regra de conduta, ou seja, faz parte do Estilo de Vida
                                                        do Maçom dar preferência e participar ativamente do crescimento profissional
                                                        e social de seus irmãos, tornando-se assim a maçonaria instituição
                                                        única e diferenciada.</p>
                                                    <p><span class="motivo">4- Crescimento Pessoal:</span> O envolvimento com
                                                        a Maçonaria favorece o crescimento pessoal na área de relações humanas.
                                                    </p>
                                                    <p>
                                                        <span class="motivo">5- Experiência em liderança (Liderando Líderes):</span>                                                        A Maçonaria é uma organização que congrega líderes e pessoas de sucesso.
                                                        Atuar em cargos maçônicos é sinônimo de maior experiência em liderança.
                                                        A pessoa aprende como motivar, influenciar e liderar aqueles que
                                                        já são líderes.
                                                    </p>
                                                    <p><span class="motivo">6- Atuação Cívica na Comunidade:</span> A ligação
                                                        com uma Loja Maçônica torna seus membros melhores cidadãos. Tipicamente,
                                                        a Maçonaria congrega as pessoas mais atuantes de um<br/> comunidade.
                                                    </p>
                                                    <p><span class="motivo">7- Informação Atualizada: As reuniões semanais de uma Loja Maçônica procuram manter os maçons atualizados sobre o que está acontecendo na comunidade, no país e no mundo. Discutem-se temas filosóficos e variedades, além de assuntos milenares internos sobre a humanidade.</span>
                                                    </p>
                                                    <p><span class="motivo">8- Oratória: Muitas pessoas que ingressam em nossa organização têm receio de falar em público. A Maçonaria permite excelente experiência em oratória, fortalecimento da autoconfiança e aproveitamento de oportunidades no campo da comunicação.</span>
                                                    </p>
                                                    <p><span class="motivo">9- Cidadão do Mundo:</span> Todo maçom usa um passaporte
                                                        maçônico e é bem recebido e incentivado a participar das reuniões
                                                        em mais de 355.000 lojas maçônicas de 170 países e regiões geográficas.
                                                        São poucos os lugares do mundo que não contam com uma Loja Maçônica.
                                                        Na Maçonaria fazemos amigos nas comunidades locais, regionais e em
                                                        todo o mundo.</p>
                                                    <p><span class="motivo">10- Assistência Durante Viagens: Durante suas viagens, qualquer Loja Maçônica regularmente constituída funciona como uma estrutura de apoio em momentos de urgências e emergências como necessidades médicas, casos de roubos ou desvio de bagagens, perda de documentos, etc.</span>
                                                    </p>
                                                    <p><span class="motivo">11- Entretenimento:</span> Toda Loja organiza reuniões
                                                        e atividades de entretenimento, as quais são muito importantes no
                                                        intuito de trazer descontração e um momento de alivio e tranquilidade
                                                        às nossas ocupadas vidas profissionais ou de negócios.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 wpb_column column_container   " style="width: 1/2px;">
                                        <div class="wpb_wrapper">

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Na Maçonaria são organizadas conferências, convenções, assembleias e
                                                        institutos que, além de informação, orientação e trabalho maçônico,
                                                        também oferecem entretenimento sadio.</p>
                                                    <p><span class="motivo">12- Melhoria das Habilidades Sociais:</span> Todas
                                                        as semanas, e em vários outros tipos de reuniões e eventos, a Maçonaria
                                                        aperfeiçoa nossa personalidade e habilidades interpessoais, oferecendo
                                                        ambiente ideal para pessoas que gostam de sociabilizar.</p>
                                                    <p><span class="motivo">13- Programas Familiares:</span> A Maçonaria oferece
                                                        um dos mais abrangentes programas de intercâmbio de jovens do mundo,
                                                        patrocinando clubes em escolas secundárias e universitárias, bem
                                                        como grande variedade de atividades úteis que difundem valores fundamentais
                                                        às famílias maçônicas, ou seja, a participação em instituições internacionais
                                                        como, Ordem Demolay (para meninos), Ordem das Filhas de Jó (meninas),
                                                        Moto Clubes, Grupos Filosóficos, etc. envolvem toda a nossa família
                                                        unificando projetos e ideais.</p>
                                                    <p><span class="motivo">14- Conhecimentos Profissionais:</span> Espera-se
                                                        que todo maçom envolva-se com a melhoria de sua profissão ou ocupação,
                                                        sirva em comissões de serviços profissionais e participe da divulgação
                                                        de sua profissão entre os jovens. Os maçons procuram conseguir que
                                                        todos sirvam sempre da melhor maneira através de nossas profissões,
                                                        sejam elas no ramo da medicina, educação etc.</p>
                                                    <p><span class="motivo">15- Valores Éticos:</span> Os maçons aplicam em
                                                        todas as suas atividades a Filosofia Maçônica, a qual reflete seus
                                                        padrões de ética. Espera-se que os sócios atuem eticamente em suas
                                                        profissões e relacionamentos pessoais.</p>
                                                    <p><span class="motivo">16- Conscientização Cultural:</span> Encontramos
                                                        representadas na Maçonaria, mundialmente, quase todas as religiões,
                                                        culturas, raças, nacionalidades e crenças políticas. Em nosso meio
                                                        encontram-se os cidadãos de maior destaque dos mais variados campos
                                                        do conhecimento humano. Os maçons entram em contato com outras culturas
                                                        e anseiam por trabalhar e ajudar as pessoas de todos os lugares.
                                                        Consequentemente, tornam-se melhores cidadãos em seus próprios países.
                                                    </p>
                                                    <p><span class="motivo">17- Prestígio:</span> Os maçons são pessoas de prestígio
                                                        &#8211; líderes de negócios, profissionais, artísticos, governamentais,
                                                        esportivos, militares, religiosos e muitos outros. A Maçonaria é
                                                        a associação de Lojas Maçônicas dedicadas à prestação de serviços
                                                        mais antiga e prestigiosa do mundo. Em suas fileiras encontram-se
                                                        executivos, diretores e profissionais de destaque, ou seja, pessoas
                                                        de influência acostumadas a tomar decisões.</p>
                                                    <p><span class="motivo">18- Pessoas Agradáveis:</span> Acima de tudo, os
                                                        maçons são pessoas agradáveis. São indivíduos que creem que o valor
                                                        de cada um reside em ter bom coração e não no destaque pessoal.</p>
                                                    <p><span class="motivo">19- Ausência de um Credo Oficial:</span> Pelo fato
                                                        da Maçonaria não ter caráter político ou religioso, não possuímos
                                                        nenhum credo oficial. Somos uma sociedade aberta, integrada por homens
                                                        que acreditam no valor da ajuda ao próximo.</p>
                                                    <p><span class="motivo">20- Oportunidade para Servir:</span> A Maçonaria
                                                        é formada por lojas maçônicas dedicadas à prestação de serviços.
                                                        Seu interesse máximo é a humanidade, seu produto de maior valor é
                                                        a dedicação ao servir.</p>
                                                    <p>Entretanto, o melhor motivo para tornar-se Maçom é a oportunidade de
                                                        ajudar nossos semelhantes e o bem-estar que resulta de nossas ações.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <div class="divisor">
                                        <div class="d1"></div>
                                        <div class="d2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="titulo">
                                        <div class="linha"></div>
                                        <h3>Solicite sua Afiliação</h3>
                                        <div class="linha"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>A Ordem Maçônica é composta por homens adultos de reputação ilibada e integridade moral,
                                        os quais acreditam na existência de um Ser Superior. Não existem quaisquer restrições
                                        quanto ao grupo étnico ou social.</p>
                                    <p>Este pedido de filiação é uma manifestação de vontade do candidato em se unir à Ordem,
                                        mas sua aceitação só será possível após entrevistas com um Mestre Maçom, bem como
                                        com o consentimento de toda a Irmandade, que votará à sua admissão levando em consideração
                                        a conduta e os bons costumes perante a sociedade.</p>
                                    <p>A sinceridade no preenchimento é muito importante, e a Ordem espera que o candidato seja
                                        honesto perante si mesmo.</p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div role="form" class="wpcf7" id="wpcf7-f4-p16-o1" lang="pt-BR" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <!-- INICIO FORMULARIO -->
                                        <% include includes/form.ejs %>
                                        <!-- FIM FORMULARIO -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end body html pure -->

        <% include includes/footer.ejs %>